################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Imperatur Market Client/bin/Release/%envFolderPath{CommonApplicationData}/imp_
